<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <SelfContained Condition="'$(PublishSelfContained)' == 'True' or '$(PublishSelfContained)' == 'true'">True</SelfContained>
  </PropertyGroup>
</Project>